.DS_Store
.#*
\#*\#
temp
node_modules
**screenshot*.png
xml
**/*~
full-outline*
chapter*.html
appendix*.html
preface.asciidoc.html
toc.asciidoc.html
book.asciidoc.html
ch01.asciidoc.html
support/android/ghru/.idea/
support/android/ghru/ghru.iml
functions/.env