.fab {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 30px;

    position: fixed;
    right: 20px;
    top: 20px;
}

.fab-left {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 #666;
    transition: all 0.1s ease-in-out;

    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 30px;

    position: fixed;
    left: 20px;
    top: 20px;
}

.login {
    width: 200px;
    height: 30px;
    background-color: grey;
    box-shadow: 0 2px 6px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    position: fixed;
    left: 70px;
    top: 20px;
}


.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

#selectedText {
    max-height: 200px;
    overflow: hidden;
    font-style: italic;
    padding: 0.2em;
}


.explanation {
    font-style: italic;
    font-size: 0.8em;
}

.customization {
    padding-top: 1em;
}

    .paragraph {
	border: 1px solid white;
	margin-bottom: 0.1em;
    }
    .dotted {
	margin-bottom: 0.1em;
	border: 1px dotted black;																															       }

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

#filedIssue {
    display: none;
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10%;
    background-color: yellow;
    color: black;
    padding: 1em;
    margin: 1em;
}

#issueUrl {
    padding: 0.2em;
    display: block;
}
